<header>
    <div id="demo-banner">
        <span>
            This site is a demo version of YelpCamp, built for the Udemy Web Development course. Feel free to register,
            delete, and review campgrounds!
        </span>
        <button id="close-banner">
            X
        </button>
    </div>
</header>